<?xml version='1.0' encoding='utf-8'?>
<plugin 
        id="cordova-plugin-webrtc-community" 
        version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>CommunityWebRtc</name>

    <description>Cordova Plugin for web-rtc in community app</description>

    <keywords>cordova, background service, android</keywords>

    <js-module name="CommunityWebRtc" src="www/CommunityWebRtc.js">
        <clobbers target="cordova.plugins.CommunityWebRtc" />
    </js-module>
</plugin>
